<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Utilisateurs <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{ path('thibautg16_utilisateur_liste') }}">Liste</a></li>
		<li><a href="{{ path('thibautg16_utilisateur_ajouter') }}">Ajouter</a></li>
	</ul>
</li>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Groupes <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{ path('thibautg16_groupe_liste') }}">Liste</a></li>
		<li><a href="{{ path('thibautg16_groupe_ajouter') }}">Ajouter</a></li>
	</ul>
</li>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Routes <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{ path('thibautg16_route_liste') }}">Liste</a></li>
		<li><a href="{{ path('thibautg16_route_ajouter') }}">Ajouter</a></li>
	</ul>
</li>